@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --header: hsl(240, 6%, 10%);
    --fundoInput: hsl(240, 6%, 13%);
    --corFont1: hsl(262, 7%, 69%);
    --corFont2: #fff;
    --orange: hsl(10, 66%, 64%);
    --body: hsl(240, 5%, 7%);
    --corBorda: hsl(240, 5%, 15%);
    --Font1: "Inter";
    --font2: "Space Grotesk";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--body);
    color: var(--corFont2);
    display: grid;
    height: 100vh;
}

body>header {
    background-color: var(--header);
    min-height: 283px;
    align-content: center;
    padding: 64px 0;
    gap: 48px;
}

body>header>h1>span {
    color: var(--orange);
}

body>header>h1 {
    font: normal 500 40px var(--font2 51.04px);
}

body>header>input {
    min-width: 70%;
    background-color: var(--fundoInput);
    border: 2px solid var(--corBorda);
    border-radius: 8px;
    height: 56px;
    padding: 16px 24px;
    color: var(--corFont1);
}

section {
    width: 70%;
    justify-self: center;
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    
}

article {
    background-color: var(--fundoInput);
    margin: 32px 0;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
}

article:hover{
    border: 1px solid var(--orange);
}

section>article>header>span:nth-child(1) {
    color: var(--orange);
    font: normal 500 16px var(--Font1) 19.36px;
}

section>article>header:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

article>h2:nth-child(2) {
    font: normal 500 24px var(--font2) 30.62px;
}

article>p:nth-child(3) {
    color: var(--corFont1);
    font: normal 500 20px var(--Font1) 32px;
    
}

.icon-heart {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-heart.filled {
    content: url(../../assets/img/button-favorite.svg);
}

.icon-heart:hover:not(.filled) {
    content: url(../../assets/img/button-favorite.svg);
}
